*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 100%;
    background-color: #323334;
}

.container-header {
    width: 100%;
    height: 25vh;
    background-color: #323334;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 10%;
}

.container-header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-header-top h1 {
    font-size: 2rem;
    font-weight: 600;
    color: #fff;
}

.container-header-top h1 span {
    color: #e81414;
}

.container-header-top input {
    width: 20%;
    height: 40px;
    border-radius: 5px;
    border: 2px solid #e61313;
    outline: none;
    padding: 0 10px;
    background-color: transparent;
    color: #fff;
}

.container-header-top input::placeholder {
    color: #fff;
}

.container-header-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 4rem 0;
    gap: 10px;
}

.container-header-bottom button {
    border-radius: 5px;
    border: none;
    background-color: #e24646;
    color: #fff;
    cursor: pointer;
    padding: 0.5rem 1rem;
}

.container-header-bottom button:hover {
    background-color: #fff;
    color: #e61313;
}

.container-body {
    background-image: url('./assets/bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 75vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
    padding-top: 3rem;
}

.dish {
    width: 30%;
    height: 42%;
    padding: 1rem;
    display: flex;
    border: 1px solid #fff;
    gap: 1rem;
    background-color: rgba(139, 136, 136, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    color: #fff;
}

.dish-image {
    width: 35%;
    height: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dish-info {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.dish-info h3 {
    font-size: 1.5rem;
    font-weight: 600;
}


.dish-info p {
    font-size: .9rem;
}


.dish-info button {
    width: 30%;
    height: 30px;
    margin-top: auto;
    border-radius: 5px;
    border: none;
    background-color: #e24646;
    margin-left: auto;
    color: #fff;
    cursor: pointer;

}

.dish-info button:hover {
    background-color: #fff;
    color: #e24646;
}

@media (max-width: 768px) {
    .container-header {
        height: 30vh;
    }

    .container-header-top {
        margin-top: 1rem;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .container-header-top input {
        width: 70%;
    }

    .container-header-top h1 {
        font-size: 2rem;
    }

    .container-header-bottom {
        margin: 1rem 0;

        width: 100%;
    }

    .container-body {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        padding: 3rem 0;
    }

    .dish {
        width: 85%;
        height: 90%;
        gap: 2rem;
    }

    .dish-info {
        gap: 2rem;
    }
}